{# src/LL/GameBundle/Resources/views/Jeu/newGame.html.twig #}

<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" href="{{ asset('bundles/llgame/styles/style.css') }}"  />
    <title>Love Letter </title>
  </head>
  <body>

      <h1> Nouvelle partie ! </h1><br> 
      <p> nombre de joueur : 

  	 <div class="well">
      <center>{{ form(form) }} </center>
     </div>

     </p>
  </body>
</html>