{# src/LL/GameBundle/Resources/views/Jeu/salon.html.twig #}

<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" href="{{ asset('bundles/llgame/styles/style.css') }}"  />
    <title>Love Letter </title>
  </head>
  <body>
  	<h1>Salon</h1><br><br>
    
    <p> Partie numéro : {{ id }} </p>

    <center><table class ='tb_parties'>
    
    {% for joueur in joueurs %}
    	<tr class = 'part'>
    	<td border: 1px solid black> joueur {{ joueur.pseudo }}   </td>
    	</tr>
	
	{% endfor %}
	
	</table></center>

    <a href="/Love_Letters/web/app_dev.php/game/plateau/{{ id }}" class="btn-jouer">Jouer !</a>

  </body>
</html>