{# src/LL/GameBundle/Resources/views/Jeu/serveurParties.html.twig #}

<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" href="{{ asset('bundles/llgame/styles/style.css') }}"  />
    <title>Love Letter </title>
  </head>
  <body>
  	<h1>Serveur</h1><br><br>

  	<aside><a href="newGame" class="fanc-btn">Créer Partie</a>
  	</aside>
    
    <center><table class ='tb_parties'>
    
    {% for partie in listParties %}
    	<tr class = 'part'>
    	<td border: 1px solid black> partie : {{ partie.id }}   </td>
    	<td border: 1px solid black>   Nombre de joueurs : {{ partie.nbj }}   </td>
    	<td onclick="location.href='salon/{{partie.id}}'" class="lienPart">   Rejoindre  </td>
    	</tr>
	
	{% endfor %}
	
	</table></center>

  </body>
</html>