body
{
	
	background-Color : #E6E6FA;
}

h1 
{
	font-family:'Dancing Script',serif;
	font-style:italic;
	color:  #8B0000;
	font-size:60px;
	text-align: center;

}
 /*F08080*/

.fancy-btn{
  display:inline-block;
  position:relative;
  padding:10px 20px;
  border:2px solid #8B0000;
  color:#8B0000;
  font-family:'Dancing Script',serif;
  font-style:italic;
  font-size:30px;
  text-decoration:none;
  margin:20px auto;
  transition: color 0.4s
}
.fancy-btn:after{
  content:" ";
  border:2px solid rgba(0,0,0,0);
  display:inline-block;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  transition:all 0.4s;
}
.fancy-btn:hover{
  color:#8B0000
}
.fancy-btn:hover:after{  
  border:2px solid #808000;
  width: calc(100% - 10px);
  height: calc(100% + 10px); 
}

.fanc-btn{
  display:inline-block;
  position:relative;
  padding:5px 15px;
  border:2px solid #8B0000;
  color:#8B0000;
  font-family:'Dancing Script',serif;
  font-style:italic;
  font-size:25px;
  text-decoration:none;
  margin:15px auto;
  transition: color 0.4s
}

.btn-ret{
  display:inline-block;
  position:relative;
  padding:5px 15px;
  border:2px solid #8B0000;
  color:#8B0000;
  font-family:'Dancing Script',serif;
  font-style:italic;
  font-size:35px;
  text-decoration:none;
  margin:15px auto;
  transition: color 0.4s
}

.btn-jouer{
  float : right;
  display:inline-block;
  position:relative;
  padding:5px 15px;
  border:2px solid #8B0000;
  color:#8B0000;
  font-family:'Dancing Script',serif;
  font-style:italic;
  font-size:25px;
  text-decoration:none;
  margin:30px auto;
  transition: color 0.4s
}

h2
{
  font-family:'Dancing Script',serif;
  font-style:italic;
  color:  #808000;
  font-size:35px;
}

h3
{
  font-family:'Dancing Script',serif;
  font-style:italic;
  color:  #800000;
  font-size:25px;
}

p
{
  font-family:'Dancing Script',serif;
  font-style:italic;
  color:  #696969;
  font-size:20px;
  margin:15px auto;
}

.tb_parties
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}

.part
{
    border: 1px solid black;
    padding: 10px 10px;
    font-family:'Dancing Script',serif;
    font-style:italic;
    color:  #6A5ACD;
    font-size:24px;
}


.lienPart
{

  color:  #808000;
  cursor:pointer;
}

.plateau {

background-Color : RGB(41,69,44);

}

.oc:hover{
  border: 1px solid black
}