{# src/LL/GameBundle/Resources/views/Effet/choisirJ.html.twig #}

<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="{{ asset('bundles/llgame/styles/style.css') }}"  />
    <title>Love Letter </title>
  </head>
  <body >
  <h1>Choisissez un joueur ! </h1>

  <table width="100%">
  <tr>
      {% for i in joueurs %}
        <td >
          <center><p>Joueur {{i}} :</p></center>
         </td>
    {% endfor %}
  </tr>
	<tr>
  		{% for i in joueurs %} 
        <td>
          <center><img onclick="location.href='http://localhost/Love_Letters/web/app_dev.php/game/effet/apChoix/{{idM}}/{{idT}}/{{joueur}}/{{i}}/{{numC}}'"  src="{{ asset('bundles/llgame/images/dos.png') }}" ></center>
        </td>
		  {% endfor %}
    </tr>
  </table>
    </body>
</html>