{# src/LL/GameBundle/Resources/views/Effet/choixG.html.twig #}

<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="{{ asset('bundles/llgame/styles/style.css') }}"  />
    <title>Love Letter </title>
  </head>
  <body >
  <h1> Quelle est la carte du joueur {{joueurC}} ? </h1>

  <table width="100%">
	<tr>
  		{% for c in cartes %} 
        <td>
          <center><img onclick="location.href='http://localhost/Love_Letters/web/app_dev.php/game/effet/ChoixG/{{idM}}/{{idT}}/{{joueur}}/{{joueurC}}/{{c.num}}/{{numC}}'"  src="{{ asset(c.image) }}" ></center>
        </td>
		  {% endfor %}
    </tr>
  </table>
    </body>
</html>