{# src/LL/GameBundle/Resources/views/Effet/eBaron.html.twig #}

<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="{{ asset('bundles/llgame/styles/style.css') }}"  />
    <title>Love Letter </title>
  </head>
  <body >

  {% if elimine == 0 %}  
    <h1>Personne n'est éliminé ! </h1>
    <p>Vos mains sont identiques... félicitations, vous restez tous les deux dans la course !</p>
  {% endif %}

  {% if elimine == joueur %}  
    <h1>Vous êtes éliminé ! </h1>
    <p>dommage... votre adversaire avait une main plus forte que la votre !</p>
  {% endif %}

  {% if elimine == joueurC %}  
    <h1>Vous avez éliminé le joueur {{joueurC}} ! </h1>
    <p>Félicitations, votre main était plus forte que la sienne !</p>
  {% endif %}


  <table width="100%">
  <tr>
    <td >
      <center><p>votre main : </p></center>
    </td>
    <td >
      <center><p>la main du joueur {{joueurC}} :</p></center>
    </td>
  </tr>
	<tr>
    <td >
      <center><img src="{{ asset(carteJ.image) }}" ></center>
    </td>
    <td >
      <center><img src="{{ asset(carteC.image) }}" ></center>
    </td>
    </tr>
  </table>
      <a href="http://localhost/Love_Letters/web/app_dev.php/game/plateau/mainj/{{idM}}/{{idT}}/{{joueur}}/{{cj}}" class="btn-jouer">OK !</a>

    </body>
</html>