{# src/LL/GameBundle/Resources/views/Effet/eComptesse.html.twig #}

<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="{{ asset('bundles/llgame/styles/style.css') }}"  />
    <title>Love Letter </title>
  </head>
  <body >
  <h1>Tricheur ! </h1><br><br>

  <center><h2>Vous deviez vous défausser de la Comptesse !</h2>
  <p>Nous allons donc le faire pour vous, appuyez seulement sur le bouton "OK !"</p></center>

  <a href="http://localhost/Love_Letters/web/app_dev.php/game/plateau/mainj/{{idM}}/{{idT}}/{{joueur}}/{{cj}}" class="btn-jouer">OK !</a>
  </body>
</html>