{# src/LL/GameBundle/Resources/views/Effet/eGarde.html.twig #}

<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="{{ asset('bundles/llgame/styles/style.css') }}"  />
    <title>Love Letter </title>
  </head>
  <body >
  {% if juste == 0 %}  
    <h1> Bien joué ! </h1>
    <center><p> Tu as deviné la carte du joueur {{joueurC}}, il est donc éliminé de la manche !</p></center>
  {% endif %}

  {% if juste == 1 %}  
    <h1> Dommage... </h1>
    <center><p> Bien essayé mais tu n'as pas trouvé la carte du joueur {{joueurC}}</p></center>
  {% endif %}

  <a href="http://localhost/Love_Letters/web/app_dev.php/game/plateau/mainj/{{idM}}/{{idT}}/{{joueur}}/{{cj}}" class="btn-jouer">OK !</a>
  </body>
</html>