{# src/LL/GameBundle/Resources/views/Effet/ePrincesse.html.twig #}

<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="{{ asset('bundles/llgame/styles/style.css') }}"  />
    <title>Love Letter </title>
  </head>
  <body >
  <h1> Joueur {{joueur}}, vous êtes éliminé ! </h1><br>

  <center><p>Vous vous êtes défaussé de la carte Princesse, cela entraîne votre élimination immédiate de la manche.<br>
    Vous pourrez de nouveau jouer à la prochaine manche ! </p> </center><br>

  <a href="http://localhost/Love_Letters/web/app_dev.php/game/plateau/mainj/{{idM}}/{{idT}}/{{joueur}}/{{cj}}" class="btn-jouer">OK !</a>
  </body>
</html>