{# src/LL/GameBundle/Resources/views/Effet/ePrince.html.twig #}

<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="{{ asset('bundles/llgame/styles/style.css') }}"  />
    <title>Love Letter </title>
  </head>
  <body >
  {% if joueur != joueurC%}
    <h1>vous avez choisi le joueur {{joueurC}} </h1>
    <center><p>Ce joueur va donc se défausser de sa carte et en piocher une nouvelle</p></center>
    <a href="http://localhost/Love_Letters/web/app_dev.php/game/plateau/mainj/{{idM}}/{{idT}}/{{joueur}}/{{cj}}" class="btn-jouer">OK !</a>
  {% endif %}

  {% if joueur == joueurC%}
    <h1>vous vous êtes choisi </h1>

    <p>Voici votre nouvelle main : </p>  
    <center><img src="{{ asset(carteC.image) }}" ></center>

    <a href="http://localhost/Love_Letters/web/app_dev.php/game/plateau/mainj/{{idM}}/{{idT}}/{{joueur}}/{{cj}}" class="btn-jouer">OK !</a>
  {% endif %}
  </body>
</html>