{# src/LL/GameBundle/Resources/views/Effet/eRoi.html.twig #}

<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="{{ asset('bundles/llgame/styles/style.css') }}"  />
    <title>Love Letter </title>
  </head>
  <body >
  <h1>vous avez choisi le joueur {{joueurC}} </h1>

  <p>Voici votre nouvelle main : </p>  
  <center><img src="{{ asset(carteC.image) }}" ></center>

  <a href="http://localhost/Love_Letters/web/app_dev.php/game/plateau/mainj/{{idM}}/{{idT}}/{{joueur}}/{{cj}}" class="btn-jouer">OK !</a>
  </body>
</html>