{# src/LL/GameBundle/Resources/views/Effet/eServante.html.twig #}

<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="{{ asset('bundles/llgame/styles/style.css') }}"  />
    <title>Love Letter </title>
  </head>
  <body >
  <h1>Félicitations ! </h1><br><br>

  <center><h2>Vous êtes maintenant immunisé jusqu'au prochain tour !</h2></center>

  <a href="http://localhost/Love_Letters/web/app_dev.php/game/plateau/mainj/{{idM}}/{{idT}}/{{joueur}}/{{cj}}" class="btn-jouer">OK !</a>
  </body>
</html>