{# src/LL/GameBundle/Resources/views/Plateau/bases.html.twig #}

<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="{{ asset('bundles/llgame/styles/style.css') }}"  />
    <title>Love Letter </title>
  </head>
  <body class ="plateau">
  <table height="500px" width="100%">
  	<tr>
  		<td></td>
  		<td>
  		{% if nbj >2 %}
  		<img src="{{ asset('bundles/llgame/images/dos.png') }}" >
  		{% endif %}
  		</td>
  		<td></td>	
  		<td><img src="{{ asset('bundles/llgame/images/dos.png') }}" ></td>
  		<td></td>
  		<td>
  		{% if nbj >3 %}
  		<img src="{{ asset('bundles/llgame/images/dos.png') }}" >
  		{% endif %}
  		</td>
  		<td></td>
  	</tr>
  	<tr height="112px">
  		<td><p>joueur numéro : {{joueur}}</p></td>	
  		<td colspan="2"></td>
  		<td></td>
  		<td colspan="2"></td>
  		<td></td>
  	</tr>
  	<tr>
  		<td class= "oc"> <center> <img onclick="location.href='http://localhost/Love_Letters/web/app_dev.php/game/plateau/choix/{{idM}}/{{idT}}/{{joueur}}'" src="{{ asset('bundles/llgame/images/tas.png') }}" > </center></td>	
  		<td colspan="2"></td>
  		<td>
  		
  		{% for carte in cartes %}
    		<img src="{{ asset(carte.image) }}" >
	
		{% endfor %}
		</td>
  		<td colspan="2"></td>
  		<td></td>
  	</tr>
  </table>
  </body>
</html>