{# src/LL/GameBundle/Resources/views/Plateau/choix.html.twig #}

<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="{{ asset('bundles/llgame/styles/style.css') }}"  />
    <title>Love Letter </title>
  </head>
  <body class ="plateau">
  <table height="500px" width="100%" >
  	<tr>
  		<td></td>
  		<td>
  		{% if nbj >2 %}
  		<img src="{{ asset('bundles/llgame/images/dos.png') }}" >
  		{% endif %}
  		</td>
  		<td></td>	
  		<td colspan="2"><center><img src="{{ asset('bundles/llgame/images/dos.png') }}" ></center>
          
      </td>
  		<td>{% if nbj >3 %}
            <img src="{{ asset('bundles/llgame/images/dos.png') }}" >
           {% endif %}</td>
  		<td>
  		</td>
  		<td></td>
  	</tr>
  	<tr height="112px">
  		<td><p>joueur numéro : {{joueur}}</p></td>	
  		<td colspan="2"></td>
  		<td></td>
  		<td colspan="2"></td>
  		<td></td>
  	</tr>
  	<tr>
  		<td > <center> <img src="{{ asset('bundles/llgame/images/tas.png') }}" > </center></td>	
  		<td colspan="2"></td>
  		<td class= "oc">
  		
  		{% for carte in cartes %}
    		<img onclick="location.href='http://localhost/Love_Letters/web/app_dev.php/game/effets/{{idM}}/{{idT}}/{{joueur}}/{{carte.id}}'"  src="{{ asset(carte.image) }}" >
	
		{% endfor %}
		</td>
  		<td colspan="2"></td>
  		<td></td>
  	</tr>
  </table>
  </body>
</html>