{# src/LL/GameBundle/Resources/views/Plateau/finManche.html.twig #}

<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="{{ asset('bundles/llgame/styles/style.css') }}"  />
    <title>Love Letter </title>
  </head>
  <body >
  <h1>Fin de la Manche ! </h1>

  <h2>Le gagnant est le joueur {{gagnant}}</h2>
  <table width="100%">
  <tr>
      {% for joueur in joueurs %}
        <td >
          <p>Joueur {{joueur}} :</p>
         </td>
    {% endfor %}
  </tr>
	<tr>
  		{% for carte in cartes %} 
        <td>
      		<img  src="{{ asset(carte.image) }}" >
        </td>
		  {% endfor %}
    </tr>
  </table><br>
  <right><a href="http://localhost/Love_Letters/web/app_dev.php/game/plateau/{{idP}}" class="btn-jouer">Manche Suivante</a></right>
  </body>
</html>



