{# src/LL/GameBundle/Resources/views/Plateau/finManche.html.twig #}

<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="{{ asset('bundles/llgame/styles/style.css') }}"  />
    <title>Love Letter </title>
  </head>
  <body >
  <h1>Fin de la partie {{idP}} ! </h1>

  <h2>Le gagnant de la partie est le joueur {{gagnant}}, félicitation !</h2>
  
  <h3>dernière manche : </h3>

  <p>Le gagnant de la dernière manche est le joueur : {{gagnantM}}</p>
  <table width="100%">
  <tr>
      {% for joueur in joueurs %}
        <td >
          <p>Joueur {{joueur}} :</p>
         </td>
    {% endfor %}
  </tr>
  <tr>
      {% for carte in cartes %} 
        <td>
          <img  src="{{ asset(carte.image) }}" >
        </td>
      {% endfor %}
    </tr>
  </table>
  <right><a href="http://localhost/Love_Letters/web/app_dev.php/game/serveur_parties" class="btn-jouer">Nouvelle Partie</a></right>
  </body>
</html>