<?php
    require_once("./menu.php");
        
    $menu = affiche_menu();
?>
	
<!DOCTYPE html>
</head>
  <link rel="stylesheet" href="{{ asset('bundles/llgame/styles/style.css') }}"  />
  <title>Love Letter </title>
  <body>
  	<h1>Love Letter</h1><br><br>

  	<a href="new" class="btn-ret">Retour</a>
  	
    <center><a href="regles" class="fanc-btn">Règles</a>
    <a href="cartes" class="fanc-btn">Cartes</a> </center><br><br>

  	<h2>Cartes du jeu</h2>
		
		<h3> Princesse </h3>
			<p> 
			Présence : il y a 1 carte de ce type dans le jeu. <br>
			Effet : Si vous défaussez cette carte, vous êtes éliminé de la manche. </p> <br><br>

		<h3> Comptesse </h3>
			<p> 
			Présence : il y a 1 carte de ce type dans le jeu. <br>
			Effet : Si vous avez cette carte en main en même temps que le Roi ou le Prince, alors vous devez défausser la carte de la Comptesse. </p> <br><br>

		<h3> Roi </h3>
			<p> 
			Présence : il y a 1 carte de ce type dans le jeu. <br>
			Effet :échangez votre main avec un autre joueur de votre choix. </p> <br><br>

		<h3> Prince </h3>
			<p> 
			Présence : il y a 2 cartes de ce type dans le jeu. <br>
			Effet :choisissez un joueur (y compris vous), celui-ci défausse la carte qu'il a en main pour en piocher une nouvelle. </p> <br><br>

		<h3> Servente </h3>
			<p> 
			Présence : il y a 2 cartes de ce type dans le jeu. <br>
			Effet :Jusqu'au prochain tour, vous êtes protégé des effets des cartes des autres joueurs. </p> <br><br>

		<h3> Baron </h3>
			<p> 
			Présence : il y a 2 cartes de ce type dans le jeu. <br>
			Effet :Comparez votre carte avec celle d'un autre joueur, celui qui a la carte avec la plus faible valeur est éliminé de la manche. </p> <br><br>

		<h3> Prêtre </h3>
			<p> 
			Présence : il y a 2 cartes de ce type dans le jeu. <br>
			Effet :Regardez la main d'un autre joueur. </p> <br><br>

		<h3> Garde </h3>
			<p> 
			Présence : il y a 5 cartes de ce type dans le jeu. <br>
			Effet :Choisissez un joueur et essayez de deviner la carte qu'il a en main (excepté le Garde), si vous tombez juste, le joueur est éliminé de la manche. 
			</p> <br><br>

  </body>
</html>