{# src/LL/GameBundle/Resources/views/Accueil/inscription.html.twig #}

<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" href="{{ asset('bundles/llgame/styles/style.css') }}"  />
    <title>Love Letter </title>
  </head>
  <body>
    
    <h1>Formulaire d'inscription</h1>

	<div class="well">
	  <center>{{ form(form) }} </center>
	</div>

  </body>
</html>