{# src/LL/GameBundle/Resources/views/Accueil/newG.html.twig #}

<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" href="{{ asset('bundles/llgame/styles/style.css') }}"  />
    <title>Love Letter </title>
  </head>
  <body>
  	<h1>Love Letter</h1><br><br>
    
    <center><a href="serveur_parties" class="fancy-btn">Nouvelle Partie</a> <br><br><br>
    <center><a href="regles" class="fancy-btn">Règles du jeu</a> <br><br><br>

  </body>
</html>