{# src/LL/GameBundle/Resources/views/Accueil/pageAc.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ asset('bundles/llgame/styles/style.css') }}"  />
    <title>Love Letter </title>
  </head>
  <body>
    <h1>Love Letter</h1><br><br>

    <center><a href="game/new" class="fancy-btn">Connexion.</a> <br><br><br>
    <center><a href="game/inscription" class="fancy-btn">Inscription.</a> <br><br><br>

  </body>
</html>
