{# src/LL/GameBundle/Resources/views/Accueil/newG.html.twig #}

<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="{{ asset('bundles/llgame/styles/style.css') }}"  />
    <title>Love Letter </title>
  </head>
  <body>
  	<h1>Love Letter</h1><br><br>
  	
  	<a href="new" class="btn-ret">Retour</a>
    <center><a href="regles" class="fanc-btn">Règles</a>
    <a href="cartes" class="fanc-btn">Cartes</a> </center><br><br>

  	<h2>Règles du jeu</h2>
		<h3> But du jeu : </h3> 
		
		<p>Finir le jeu avec la carte ayant le rang le plus élevé afin d'être celui qui portera la lettre d'amour à la princesse Annette.</p>
		
		<h3>Mise en place : </h3>
		
		<p>Mélangez les 16 cartes afin de former une pioche, prendre la première carte, sans la regarder et la retirer du jeu. <br>
		Si vous jouez à 2, piochez 3 cartes et disposez les face visible sur la table, elles ne seront pas utilisées pendant cette manche. <br>
		Chaque joueur pioche 1 carte et la garde secrète.</p>
		
		<h3>Déroulement du jeu :</h3>
		
		<p>Le premier joueur pioche une carte et l'ajoute à sa main. <br>
		Il choisi une de ses cartes, la joue devant lui face visible et en applique les effets
		(voir la liste des cartes). Les cartes jouées restent devant chacun des joueurs dans
		l'ordre où elles ont été jouées. <br>
		Une fois les effets de la cartes appliqués, c'est au joueur suivant de jouer. <br>
		Si un joueur est éliminé de manche, il défausse sa main face visible, mais ne
		pioche pas de nouvelle carte.</p>
		
		<h3>Fin de jeu : </h3>
		
		<p>Lorsqu'un joueur pioche la dernière carte, il joue son tour et la manche se
		termine. <br>
		Love Letter se joue en plusieurs manches, chaque manche représentant une
		journée, à la fin de la journée la princesse lit la lettre qui lui a été apporté, le
		joueur gagne alors un point. <br>
		Lorsqu'elle a reçu un certain nombre de lettres du même joueur, elle en tombe
		amoureuse et le joueur en question gagne la partie. <br>
		Le nombre de lettres nécessaires pour conquérir le cœur de princesse dépend du
		nombre de joueurs. (2 joueurs = 7 points ; 3 joueurs = 5 points ; 4 joueurs = 4
		points) </p>



  </body>
</html>